<header>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #bde7e9";>
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                {% load static %}
                <li>
                    <img src="{% static 'main_edufriends/icon-2.ico' %}" alt="" height="30px">
                </li>
                <li>
                    <a href="{% url 'home' %}" class="navbar-brand" style="font-family: 'Cormorant SC';"> EduFriends</a>
                </li>
            </ul>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sheet'%}">Sheet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tutors' %}">Tutors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">StudyRoom</a>
                </li>
            </ul>
        </div>
    </nav>
</header>