{% extends 'main_edufriends/base.html' %}
{% block title %}Home{% endblock %}
{% load static %}


{% block content %}
<div class="intro-edufriends">
    <img class="intro-edufriends-bg" src="{% static 'main_edufriends/study_a.jpg' %}" alt="" width="100%" height="90%">
    <div class="intro-edufriends-text">
        <h1 class="intro-title">EduFriends</h1>
        <p class="intro-description">Friendly for help you to get better.</p>
    </div>
</div>
<div class="about-edufriends">
    <h2>About EduFriends</h2>
    <p class="about-edufriends-paragraph">EduFriends is a platform for education that everyone can use to help your learning.</p>
    <div class="row function-edufriends">
        <div class="col-md-4">
            <i class="fa-solid fa-file fa-3x about-icon"></i>
            <h5>Sheet</h5>
            <p>You can get sheet to read and understand quickly.</p>
        </div>
        <div class="col-md-4">
            <i class="fa-solid fa-handshake-angle fa-3x about-icon"></i>
            <h5>Tutor</h5>
            <p>You can find your tutor for help you.</p>
        </div>
        <div class="col-md-4">
            <i class="fa-solid fa-user-group fa-3x about-icon"></i>
            <h5>Study-Room</h5>
            <p>You can find people to read together.</p>
        </div>
    </div>

</div>

{% endblock %}