{% extends 'main_edufriends/base.html' %}
{% load static %}
{% block title %}room{% endblock%}
{% block content%}
<br><br>
<div class="study-rooms">
    <h3>Get friends, get improve!</h3>
    <p>If you want to create your study room, <a href="{% url 'create_room' %}" target="_blank">click!</a></p>
    <p>*** please tell us at least 1 day before </p>
    <div class="row" style="padding: 5%;">
        {% for room in rooms %}
        <div class="all-rooms col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{room.subject}} by {{room.by}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{room.university}}</h6>
                    <p class="card-text">{{room.date}} {{room.time}} for {{room.hour}} hours</p>
                    <p class="card-text">{{room.people}} person</p>
                    <a href="{{room.url}}" class="card-link" target="_blank">room link</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}ß