{% extends 'main_edufriends/base.html' %}
{% load static %}
{% block content%}
<br><br>
<div class="edu-sheet">
    <h3>Get sheet, get improve!</h3>
    <div class="row">
        {% for sheet in all_sheet %}
            <div class="col-md-3 col-sm-12">
                <h4><a href="">{{sheet.name}}</a></h4>
                <p class="sheet-details">{{sheet.price}}</p>
                <p class="sheet-details">{{sheet.description|safe|truncatechars:30}}</p>
                <img src="{{sheet.image.url}}" alt="" width="70%">
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}ß